body {
	color: $colorWhite;
	line-height: 1;
	font-family: $fontFamily;
	font-weight: 400;
	background-color: $bgcbody;
	overflow-x: hidden;
	overflow-y: auto;
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
	}
	// Сайт загружен
	.loaded & {
	}
	// Минимальный размер экрана 
	&._minWindowScreen {
		overflow: auto;
		touch-action: auto;
	}
}